* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: url(../images/Cousins-bw.webp) no-repeat center center/cover;
    min-height: 100vh;
    color: #fff;
    background-color: darkgrey;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 75px 90px;
    grid-template-areas: 
    "pl sl"
    "pl sl"
    "en en"
    ;
}

#header {
    background-image: linear-gradient(145deg, black, darkgrey);
}

#logo {
    gap: 20px;
    grid-column: pl;
    grid-row: pl;
}

#sponsor > img {
    width: 50%;
    margin-left: 50%;
}

#sponsor {
    width: 100%;
    grid-column: sl;
    grid-row: sl;
    align-content: center;
}

#logo > img {
    width:60%;
    margin: auto;
}

#brand, #slogan {
    grid-area: en;
    text-align: center;
}

#brand {
    align-self: center;
    font-family: "Dancing script", cursive;
    font-size: 40px;
    font-weight: 700;
}

#slogan {
    align-self: end;
    font-family: "Monserrat", sans-serif;
    font-size: 20px;
}

main {
    width: 90%;
    margin: auto;
    z-index: 99;
}

#home, #clocks, #welcome{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40% 30px 1fr 30px 1fr 30px 1fr 30px;
    grid-template-areas: 
    "dis dis dis dis dis dis dis"
    ".   .   .   .   .   .   .  "
    ".   op1 op1 .   op2 op2 .  "
    ".   .   .   .   .   .   .  "
    ".   op3 op3 .   op4 op4 .  "
    ".   .   .   .   .   .   .  "
    ".   cus cus cus cus cus .  "
    ".   .   .   .   .   .   .  "
    ;
    height: 450px;
}

#clocks {
    display: none;
}

#home {
    display: none;
} 

#disOpts, #timer, #spiel {
    grid-area: dis;
    text-align: center;
    align-self: center;
}

#disOpts, #spiel {
    align-content: center;
    font-size: 2em;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 63%;
    margin: auto;
}

#spiel {
    font-size: 1.5em;;
}

#timer {
    font-size: 18em;
}

button {
    color: #fff;
    background-color: black;
    font-size: 1.2em;
}

#fifteen, #startPause {
    grid-area: op1;
    align-content center;

}

#thirty, #reset {
    grid-area: op2;
}

#fortyFive, #yellow {
    grid-area: op3;
}

#sixty, #red {
    grid-area: op4;
}

#custom, #resetFrame, #continue {
    grid-area: cus;
}

#red {
    color: red;
}

#yellow {
    color: yellow;
}

footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-template-areas:
    "mode mode .  .  .  .  beg beg"
    ".    cr   cr cr cr cr cr  .  "
    ;
}

#beg {
    grid-area: beg;
    align-content: center;
    justify-self: center;
}

#mode {
    grid-area: mode;
    align-content: center;
    justify-self: center;
}

#copyright {
    grid-area: cr;
    align-content: end;
    text-align: center;
    font-size: x-small;
    color: blue;
}